<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TableName" value="[CSVImportDB].[dbo].[Accounts]"/>
  </appSettings>
  <connectionStrings>    
    <add name="Database" connectionString="Server=.;Database=CSVImportDB;Integrated Security=SSPI;"/>
  </connectionStrings>  
</configuration>